/* ------------------------------
    fonts 
------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ------------------------------
    common styles or utilities 
------------------------------- */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

.section-description {
    color: #727272;
    font-size: 16px;
}

.btn-primary {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px;
}

/* ------------------------------
    header styles
------------------------------- */
.brand-container {
    padding-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.menu>.menu-options {
    display: flex;
    gap: 30px;
}

.menu-options {
    color: #424242;
    font-size: 18px;
    list-style: none;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
}

.brand-new {
    text-align: center;
    width: 560px;
}

.brand-title {
    font-size: 64px;
}

.brand-info {
    color: #727272;
    font-size: 16px;
}

.banner-button {
    margin-top: 17px;
    margin-bottom: 50px;
}

.banner-img img {
    width: 1030px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* ------------------------------
    main styles
------------------------------- */

/* ------------------------------
    quick feature styles
------------------------------- */
.feature-container {
    gap: 50px;
    margin-top: 70px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.feature-img img {
    width: 250px;
    height: 250px;
}

.quick-feature {
    width: 400px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.quick-list-feature {
    color: #FF900E;
}

/* ------------------------------
    love & enjoy feature styles
------------------------------- */
.love-enjoy {
    gap: 80px;
    align-items: flex-start;
}

.love-enjoy-features {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.love-enjoy-features .feature-title {
    border-left: 3px solid #FF900E;
    padding-left: 21px;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.box-title {
    font-size: 20px;
    font-weight: 600;
}

.love-enjoy-img-and-btn {
    position: relative;
}


#love-feature-btn {
    position: relative;
    top: -100px;
    left: -50px;
    z-index: 1;
}

/* .love-enjoy-img-and-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

.love-enjoy-img img {
    width: 550px;
    /* height: 980px; */
}

.love-enjoy-btn {
    font-size: 65px;
    font-weight: 700;
}

.love-enjoy-btn-exp {
    font-size: 25px;
    font-weight: 500;
}

/* ------------------------------
    some facts styles
------------------------------- */
.some-fact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 540px;
    margin-left: 170px;
}

.facts {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 30px;
    margin-top: 50px;
}

.fact {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 25px;
}

.fact img {
    width: 35px;
    height: 35px;
}

.fact .icon-title {
    color: #424242;
    font-size: 25px;
}

.fact .icon-description {
    font-size: 16px;
    font-weight: 600;
}

/* ------------------------------
    our values styles
------------------------------- */
.our-values {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.our-values ul {
    display: flex;
    text-align: center;
    gap: 20px;
    width: 1030px;
    background-color: #727272;
    padding: 30px;
    border-radius: 8px;
}

.our-values li {
    list-style: circle;
    color: #FF900E;
    font-weight: 900;
}

/* ------------------------------
    sponsor styles
------------------------------- */
.sponsor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

/* ------------------------------
    footer styles
------------------------------- */
.footer {
    display: flex;
    align-items: center;
}

.footer-info {
    color: #424242;
    font-size: 20px;
    width: 1030px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;
}

.hide {
    display: none;
}

/* -------------------------------------------
    media query styles for mobile device
---------------------------------------------- */
@media only screen and (max-width: 576px) {
    .container{
        flex-direction: column;
        margin-bottom: 50px;
    }
    header {
        padding: 15px;
    }

    .section-title {
        font-size: 20px;
        text-align: center;
    }

    .section-description {
        font-size: 10px;
        text-align: center;
    }

    .brand-container {
        padding-top: 10px;
    }

    .navbar,
    .menu>.menu-options {
        flex-direction: column;
    }

    .menu-options {
        font-size: 10px;
        padding-left: 15px;
    }

    .brand {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .brand-new {
        width: auto;
    }

    .banner-button, .features, .feature-button {
        text-align: center;
    }

    .banner-img img {
        width: 100%;
    }
    .features-img, .facts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }
    .some-fact-info{
        width: 100%;
        margin-left: 0;
    }
    

}